{
  "Entries": [
    {
      "RequestUri": "/apisociety/1.1/",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "user_id": [
          "00000000000000000000000000000000"
        ],
        "api_key_public": [
          "00000000000000000000000000000000"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {}
}