{
  "Entries": [
    {
      "RequestUri": "/apisociety/1.1/conversations/5a72e561f34eeb072c293cfd/messages/1",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "user_id": [
          "00000000000000000000000000000000"
        ],
        "api_key_public": [
          "00000000000000000000000000000000"
        ]
      },
      "ResponseBody": "{\r\n  \"_id\": \"59b6ada2b674680d16cd7d79\",\r\n  \"updatedAt\": \"2017-09-11T15:37:06.775Z\",\r\n  \"createdAt\": \"2017-09-11T15:37:06.775Z\",\r\n  \"_conversation\": \"59b6abdcb674680d16cd7d74\",\r\n  \"custom_label\": null,\r\n  \"type\": \"text\",\r\n  \"is_left_side\": false,\r\n  \"text\": \"Hello Stefano, how are you today?\",\r\n  \"next_alternative\": null,\r\n  \"prev_alternative\": null,\r\n  \"attachments\": [\r\n    {\r\n      \"choices\": [],\r\n      \"labels\": []\r\n    }\r\n  ],\r\n  \"next_message\": null,\r\n  \"is_next_message_linked\": false,\r\n  \"prev_linked_messages\": [],\r\n  \"prev_message\": \"59b6ad99b674680d16cd7d78\",\r\n  \"show_time\": 1500,\r\n  \"ssmlText\": \"<speak>\\n  <p><prosody rate=\\\"slow\\\">Hello Stefano<\/prosody>, *pause 1.5s* how are you today?<\/p>\\n<\/speak>\",\r\n  \"is_first_message\": true,\r\n  \"text_with_variables\": \"Hello ${Name}, how are you today?\",\r\n  \"progressiveId\": 1,\r\n  \"intent\": \"default-intent-0\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/apisociety/1.1/conversations/5a72e561f34eeb072c293cfd/messages/59b6ada2b674680d16cd7d79",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "user_id": [
          "00000000000000000000000000000000"
        ],
        "api_key_public": [
          "00000000000000000000000000000000"
        ]
      },
      "ResponseBody": "{\r\n  \"_id\": \"59b6ada2b674680d16cd7d79\",\r\n  \"updatedAt\": \"2017-09-11T15:37:06.775Z\",\r\n  \"createdAt\": \"2017-09-11T15:37:06.775Z\",\r\n  \"_conversation\": \"59b6abdcb674680d16cd7d74\",\r\n  \"custom_label\": null,\r\n  \"type\": \"text\",\r\n  \"is_left_side\": false,\r\n  \"text\": \"Hello Stefano, how are you today?\",\r\n  \"next_alternative\": null,\r\n  \"prev_alternative\": null,\r\n  \"attachments\": [\r\n    {\r\n      \"choices\": [],\r\n      \"labels\": [],\r\n      \"image\": \"\",\r\n      \"video\": \"\",\r\n      \"size\": \"\"\r\n    }\r\n  ],\r\n  \"next_message\": null,\r\n  \"is_next_message_linked\": false,\r\n  \"prev_linked_messages\": [],\r\n  \"prev_message\": \"59b6ad99b674680d16cd7d78\",\r\n  \"show_time\": 1500,\r\n  \"ssmlText\": \"<speak>\\n  <p><prosody rate=\\\"slow\\\">Hello Stefano<\/prosody>, *pause 1.5s* how are you today?<\/p>\\n<\/speak>\",\r\n  \"is_first_message\": true,\r\n  \"text_with_variables\": \"Hello ${Name}, how are you today?\",\r\n  \"progressiveId\": 1,\r\n  \"intent\": \"default-intent-0\"\r\n}\r\n",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {}
}